body {
  overflow-x: hidden;
  overflow-y: hidden;
}
#image-container {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
#image-top-right {
  top: 2%;
  right: 2%;
}

.image-container2 {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
#image-bottom-left {
  bottom: 2%;
  left: 2%;
}
#todo{
  color: rgb(255, 255, 255);
  font-size:55px;
}
#newviews{
  color: rgb(255, 255, 255);
  font-size:55px;
}
@media only screen and (max-width: 480px) {
        #imagen {
            background-image: url('./resources/img/titulo480.png');
            /* Establece el tamaño y otros estilos de la imagen */
        }
        nav ul.menu li.social img {
  height: 50px;
  background-color: #ffffff;
  padding-left: 10PX;
  padding-right: 10PX;
}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
        #imagen {
            background-image: url('./resources/img/titulo769.png');
            /* Establece el tamaño y otros estilos de la imagen */
        }
        nav ul.menu li.social img {
  height: 50px;
  background-color: #ffffff;
  padding-left: 10PX;
  padding-right: 10PX;
}
}
@media only screen and (min-width: 769px) {
        #imagen {
            background-image: url('./resources/img/titulo.png');
            /* Establece el tamaño y otros estilos de la imagen */
        }

        nav ul.menu li.social img {
  height: 30px;
  background-color: #ffffff;
  padding-left: 10PX;
  padding-right: 10PX;
}
}
/* Estilos del menú */
nav ul.menu {
  list-style-type: none;
  margin: 1;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul.menu li {
  margin-right: 10px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

nav ul.menu li.social {
  margin-right: 0;
}

nav ul.menu li.social img {
  margin-top: 15px;
  height: 120px;
  background-color: #ffffff;
  padding-left: 10PX;
  padding-right: 10PX;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
  nav ul.menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav ul.menu li {
    margin-bottom: 5px;
  }
  nav ul.menu li.social img {
    height: 50px;
    background-color: #ffffff;
    padding-left: 10PX;
    padding-right: 10PX;
  }
}